* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);
    text-align: center;
}
.relleno{
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: rgb(0, 0, 0);
}
.header {
    background: linear-gradient(to right, #020243, #4848e8); 
    border-bottom: 5px solid rgba(255, 221, 0, 0.763);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 40px;
    position: relative;
}
.navh {
    display: flex;
    gap: 30px;
    position: absolute;
    right: 100px;
}

.navh a { 
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    font-weight: bold;
    text-align: end;
}

.navh a:hover {
    background-color: rgba(255, 221, 0, 0.763);
    color: rgb(224, 242, 255);
    padding: 15px 20px;
    border-radius: 5px;
}

.header h1 {
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    text-align: center;
    margin: 0;
}