* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(229, 233, 254);
    text-align: center;
}
.relleno{
    font-family: Arial,sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: rgb(0, 0, 0);
}
.header {
    background-color: navy;
    border-bottom: 10px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.navh {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.navh a { 
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

.navh a:hover {
    color: yellow;
}

h1 {
    color: whitesmoke;
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
}