* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 253, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
#motivo_eli{
    width: 300px;
    height: 150px;
}
.header {
    background: linear-gradient(to right, #020243, #4848e8);
    border-bottom: 5px solid rgba(255, 221, 0, 0.763);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px 0;
    position: relative;
    flex-shrink: 0;
}

.header h1 {
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    margin: 0;
    max-width: 60%;
}

.navh {
    display: flex;
    position: absolute;
    right: 40px; 
}

.navh a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    font-weight: bold;
}

.navh a:hover {
    background-color: rgba(255, 221, 0, 0.763); 
    padding: 15px 10px;
    border-radius: 5px;
}
.formulario-A, .formulario-AC, .formulario-E {
    display: flex;
    justify-content: center;
    width: 100%; 
}

fieldset {
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 450px;
    padding: 40px;
    margin: 30px auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}
legend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(144, 211, 238);
    margin-bottom: 20px;
    color: rgb(13, 82, 232);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    display: block;
    padding: 5px 0;
}

.A, .AC, .E {
    width: 110px;
    height: 25px;
    margin-bottom: 10px;
}

.cont_btn {
    text-align: center;
}

.btn-ejecutar_A, .btn-ejecutar_AC, .btn-ejecutar_E {
    width: 100px;
    height: 30px;
    margin-top: 15px;
    background-color: rgba(225, 254, 63, 0.941);
    border-radius: 5px;
    border: 1px solid rgba(208, 230, 43, 0.941);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-ejecutar_A:hover, .btn-ejecutar_AC:hover, .btn-ejecutar_E:hover {
    background-color: white;
    border-color: yellow;
    color: black;
}