* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center; 
    padding: 15px 30px;
    background: linear-gradient(to bottom, rgb(16, 16, 141), rgb(28, 39, 98));
    width: 100%;
    color: white;
    border-bottom: 8px solid rgb(141, 125, 5);
}

#logo {
    width: 60px;
    height: auto;
    border-radius: 5px;
}

#lblFacultad {
    display: flex;
    flex-direction: column; 
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    letter-spacing: 12px;
}

#lblUAS {
    font-size: 22px;
    letter-spacing: 15px;
    margin-bottom: 10px; 
}

#facultad {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal; 
}